<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.aboutTitle }}</h3>
            <hr>
            <div class="row about-details">
                <p class="lead text-justify px-3">
                This satellite conference focuses on algorithmic research addressing privacy and security challenges in biomedical research. The program includes keynote presentations by renowned experts in the field, alongside contributed talks and poster presentations. All submissions will undergo a rigorous peer-review process.
                </p>

                <h4>Venue</h4>
                <hr>
                <p class="lead text-justify px-3">
                 RECOMB-Privacy 2026 and other RECOMB meetings will be held at Thessaloniki Concert Hall in Thessaloniki, Greece. All registrations will be coordinated by the local RECOMB organization. See the <a href="https://recomb.org/recomb2026">main RECOMB website</a> for more information.
                </p>    
                <p class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3029.4332636358067!2d22.948524499999998!3d40.5982635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a8392b908101d9%3A0x38a3f6c30bd4f5ce!2sThessaloniki%20Concert%20Hall!5e0!3m2!1sen!2sus!4v1776890410063!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </p>
        </div>
    </div>
</section>
<!-- End About Section -->
